/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

body {
  background: url("https://source.unsplash.com/T-wn8tiYkR8/1024x683/") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: "Gill Sans", Helvetica, sans-serif;
  color: white;
  text-align: center; }

canvas {
  position: absolute;
  left: 0;
  top: 50px; }

h1 {
  text-transform: uppercase;
  font-size: 1.5em; }

.title,
.login,
canvas {
  display: none; }

.modal {
  display: block;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(42, 36, 34, 0.75); }

object {
  max-width: 50%;
  max-height: 50%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto; }

svg path,
svg polygon {
  fill-opacity: 0;
  fill: teal;
  stroke: #fff;
  stroke-width: 10;
  stroke-dasharray: 16800;
  stroke-dashoffset: 16800;
  animation-name: draw;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function: linear; }
svg #path14 {
  animation-delay: .5s; }
svg #path16 {
  animation-delay: 1s; }
svg #path18 {
  animation-delay: 1.25s; }
svg #path20 {
  animation-delay: 1.5s; }
svg #path22 {
  animation-delay: 1.75s; }

@keyframes draw {
  75% {
    stroke-width: 6; }
  90% {
    stroke-dashoffset: 0;
    stroke-width: 10;
    fill-opacity: 0;
    stroke: teal; }
  100% {
    stroke-dashoffset: 0;
    fill-opacity: 1;
    stroke-width: 10;
    stroke: teal; } }
